*~
*.la
*.lo
*.o
.deps
.gitmodules
.libs
/.sc-start-sc*
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/build-stamp
/build-aux
/config-stamp
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc
/gnulib
/install-sh
/lib
/libpaper*.tar.gz
/m4
/missing
/stamp-h1
/GNUmakefile
/maint.mk
/tight-scope.mk
