*~
*.la
*.lo
*.o
.deps
.gitmodules
.libs
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache
/build-stamp
/build-aux
/config-stamp
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/libtool
/configure
/doc
/libpaper*.tar.gz
/stamp-h1
