/Makefile.gnulib
/_Noreturn.h
/alloca.in.h
/arg-nonnull.h
/asnprintf.c
/asprintf.c
/attribute.h
/basename-lgpl.c
/basename-lgpl.h
/c++defs.h
/cloexec.c
/cloexec.h
/close.c
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/filename.h
/filenamecat-lgpl.c
/filenamecat.h
/float+.h
/float.c
/float.in.h
/free.c
/fstat.c
/getdelim.c
/getdtablesize.c
/getline.c
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getprogname.c
/getprogname.h
/gettext.h
/idx.h
/intprops.h
/inttypes.in.h
/itold.c
/langinfo.in.h
/limits.in.h
/locale.in.h
/malloc.c
/malloca.c
/malloca.h
/math.c
/math.in.h
/memchr.c
/memchr.valgrind
/minmax.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/pathmax.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/relocatable.c
/relocatable.h
/relocatable.valgrind
/size_max.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strcasecmp.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/strncasecmp.c
/sys_stat.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/warn-on-use.h
/wchar.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xmalloc.c
/xsize.c
/xsize.h
/xvasprintf.c
/xvasprintf.h
/alloca.h
/fcntl.h
/inttypes.h
/langinfo.h
/limits.h
/locale.h
/math.h
/stdio.h
/stdlib.h
/string.h
/strings.h
/sys/
/time.h
/unistd.h
/wchar.h
