/_Noreturn.h
/alloca.in.h
/allocator.c
/allocator.h
/areadlink.c
/areadlink.h
/arg-nonnull.h
/asnprintf.c
/asprintf.c
/basename-lgpl.c
/c++defs.h
/c-ctype.c
/c-ctype.h
/canonicalize-lgpl.c
/careadlinkat.c
/careadlinkat.h
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/filename.h
/filenamecat-lgpl.c
/filenamecat.h
/float+.h
/float.c
/float.in.h
/getdelim.c
/getline.c
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getprogname.c
/getprogname.h
/gettext.h
/intprops.h
/itold.c
/langinfo.in.h
/limits.in.h
/locale.in.h
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/math.c
/math.in.h
/memchr.c
/memchr.valgrind
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/pathmax.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/progreloc.c
/readlink.c
/relocatable.c
/relocatable.h
/relocwrapper.c
/setenv.c
/size_max.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strcasecmp.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/sys_stat.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/warn-on-use.h
/wchar.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xmalloc.c
/xreadlink.c
/xreadlink.h
/xsize.c
/xsize.h
/xvasprintf.c
/xvasprintf.h
/areadlink-with-size.c
/assure.h
/at-func.c
/basename.c
/bitrotate.c
/bitrotate.h
/canonicalize.c
/canonicalize.h
/chdir-long.c
/chdir-long.h
/cloexec.c
/cloexec.h
/close.c
/closedir.c
/dirent-private.h
/dirent.in.h
/dirfd.c
/dirname.c
/dup-safer-flag.c
/dup-safer.c
/dup.c
/dup2.c
/fchdir.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer-flag.c
/fd-safer.c
/fdopendir.c
/file-set.c
/file-set.h
/fstat.c
/fstatat.c
/getcwd-lgpl.c
/getcwd.c
/getdtablesize.c
/hash-pjw.c
/hash-pjw.h
/hash-triple.c
/hash-triple.h
/hash.c
/hash.h
/mempcpy.c
/memrchr.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/opendir.c
/pipe-safer.c
/readdir.c
/realloc.c
/rewinddir.c
/same-inode.h
/same.c
/same.h
/save-cwd.c
/save-cwd.h
/strdup.c
/strndup.c
/strnlen.c
/unistd--.h
/unistd-safer.h
/xgetcwd.c
/xgetcwd.h
/xstrndup.c
/xstrndup.h
/alloca.h
/dirent.h
/fcntl.h
/langinfo.h
/libgnu.a
/limits.h
/locale.h
/math.h
/rrt.mk
/stdio.h
/stdlib.h
/string.h
/strings.h
/sys/
/time.h
/unistd.h
/wchar.h
/Makefile.gnulib
