Source: libpaper
Section: libs
Priority: optional
Maintainer: Giuseppe Sacco <eppesuig@debian.org>
Standards-Version: 4.4.1
Build-Depends: dpkg-dev (>= 1.16.1~), debhelper (>= 12), dh-exec, po-debconf, autoconf
Homepage: https://github.com/rrthomas/paper
Vcs-Browser: https://github.com/rrthomas/paper
Vcs-Git: https://github.com/rrthomas/paper.git

Package: libpaper1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg (>= 1.17.2)
Replaces: libpaperg (<< 1.1.9)
Provides: libpaperg
Recommends: libpaper-utils
Description: Paper sizes catalogue
 Libpaper supports paper size configuration and automates recognition of
 many different paper sizes for programs that need to deal with paper.
 .
 This package contains the shared libraries.

Package: libpaper-utils
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, libpaper1, sensible-utils
Description: Paper sizes catalogue (utilities)
 Libpaper supports paper size configuration and automates recognition of
 many different paper sizes for programs that need to deal with paper.
 .
 This package contains the command-line utilities, which can also be used as
 a convenient interface for programs written in languages that cannot
 conveniently use the shared library.

Package: libpaper-dev
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: Paper sizes catalogue (development files)
 Libpaper supports paper size configuration and automates recognition of
 many different paper sizes for programs that need to deal with paper.
 .
 This package the development files.
