Source: paper
Section: libs
Priority: optional
Maintainer: Giuseppe Sacco <eppesuig@debian.org>
Standards-Version: 3.6.2
Build-Depends: dpkg-dev (>= 1.16.1~), debhelper (>= 8.1.3~), dh-exec(>= 0.3), po-debconf, dh-autoreconf

Package: paper
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf (>= 0.28)
Conflicts: libpaper1
Description: paper sizes catalogue and utility
 The paper utility automates recognition of many different paper types
 and sizes for programs that need to deal with printed output.

Package: paper-bin
Section: utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: paper sizes catalogue and utility (binaries)
 The paper utility automates recognition of many different paper types
 and sizes for programs that need to deal with printed output.
 .
 This package contains architecture-specific binaries.
